doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title /*ZenStock*/
    link(rel="icon", href="/images/favicon-32x32.png", type="image/x-icon")
    link(rel="shortcut icon", href="/images/favicon-32x32.png", type="image/x-icon")
    link(rel="stylesheet", href="/css/style.css")
    script(src="https://cdn.jsdelivr.net/npm/chart.js")

  body.body-container
    header
      nav
        ul#nav-bar
          li: a#logo2(href="/users/main") */ZenStock/*
          li: a#home(href="/users/main") Home
          li: a#intro(href="/users/intro") intro
          li: a#userinfo(href="/users/userinfo") 회원정보
          li: a#dashboard(href="/users/dashboard") 대시보드
          if user.username.length > 10
            li: a#username(href="#" class="sparkle") User님 반갑습니다.
          else 
            li: a#username(href="#" class="sparkle") #{user.username}님 반갑습니다.
          li: a#logoutBtn(href="/users/logout") LogOut
          
          

    main
      section.section-title
        h2 차트 표시 구역
        a(href="/users/market-indices")
          h4 더보기
      include market-indices.pug

      section.section-title
        h2 실시간 인기 종목
        a(href="/users/detailedstocks")
          h4 더보기
      include mainstock.pug

      section.section-title
        h2 뉴스
        a(href="https://finance.yahoo.com/topic/stock-market-news/")
          h4 더보기
      section#news-container
        if articles && articles.length > 0
          each article in articles
            .news-box
              a(href=article.link target="_blank" rel="noopener noreferrer")
                .news-content
                  if article.image
                    img.news-thumbnail(src=article.image alt=article.title)
                  h4.news-title= article.title
                    p.news-description= article.description || "뉴스내용 보러가기..."
                    p.news-footer= article.footer || `작성일자: ${new Date().toLocaleDateString()}`
        else
          each i in [1, 2, 3]
            .news-box
              a(href="#")
                div.placeholder-image News #{i}
                p 뉴스를 불러오는 중입니다...

    footer.zenstock-footer zenstock
      .footer-links
        a(href="#") Meta
        span ·
        a(href="#") About
        span ·
        a(href="#") Blog
        span ·
        a(href="#") Jobs
        span ·
        a(href="#") Help
        span ·
        a(href="#") API
        span ·
        a(href="#") Privacy
        span ·
        a(href="#") Terms
        span ·
        a(href="#") Locations
      .footer-copyright
        span © 2024 ZenStock from elice

    script(src="/js/market-indices.js")